@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@font-face {
  font-family: "ETHEREAL-EB";
  src: local("Ethereal-ExtraBold"),
    url("./Assets/Fonts/Ethereal-ExtraBold.otf") format("opentype");
}
body {
  margin: 0;
  font-family: 'ETHEREAL-EB', 'Indie Flower', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

